* {
  margin: 0;
  padding: 0;
  --veryDark: hsl(300, 43%, 22%);
  --softPink: hsl(333, 80%, 67%);
  --darkGrayish: hsl(303, 10%, 53%);
  --lightGrayish: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background: var(--white);
  background-image: url('./images/bg-pattern-bottom-desktop.svg'),
    url('./images/bg-pattern-top-desktop.svg');

  background-repeat: no-repeat;
  background-position: right 300px, left 0px;

  font-family: Spartan;
}

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contend-container {
  border: 2px solid black;
  width: 1500px;
  height: 700px;
}

.top-container {
  display: flex;
  width: 100%;

  align-items: center;
  position: relative;
}

.top-container > div:first-child {
  display: flex;
  flex-direction: column;
}

.top-container > div:first-child h2 {
  font-size: 70px;
  color: var(--veryDark);
}

.top-container > div:first-child p {
  font-size: 15px;
  color: var(--darkGrayish);

  margin-top: 10px;
}

.card-reviews {
  display: flex;
  align-items: center;

  border-radius: 5px;
  background: var(--lightGrayish);

  height: 50px;
  width: 500px;
  margin-bottom: 30px;
}

.card-reviews > div img {
  margin-right: 10px;
}

.card-reviews > div img:first-child {
  margin-left: 20px;
  margin-right: 10px;
}

.card-reviews p {
  padding: 10px;

  font-weight: 700;
  color: var(--veryDark);
}

.reviews {
  position: absolute;
  right: 0px;
  top: 0;

  width: 800px;
}

.reviews > div:last-child {
  position: relative;
  left: 300px;
}

#secondChild {
  position: relative;
  left: 100px;
}
